.nested-fields
  = f.association :truck, collection: Truck.all.order(created_at: :asc).map{|truck| [truck.registration, truck.id]}, prompt: 'Choose an existing Truck'
  = f.input :status, collection: FleetTruck.statuses.keys.map {|status| [status.titleize, status]}, as: :radio_buttons

  %p
    = link_to_remove_association "remove truck", f
